In [1]:
import pandas as pd

In [2]:
Data = pd.read_csv('C:/Users/DELL/Downloads/1574413716_lesson92/imdb_labelled.txt',sep='\t',names=['Cooment','Lable'])

In [4]:
Data.head(10)

                                             Cooment  Lable
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1
5  The rest of the movie lacks art, charm, meanin...      0
6                                Wasted two hours.        0
7  Saw the movie today and thought it was a good ...      1
8                               A bit predictable.        0
9  Loved the casting of Jimmy Buffet as the scien...      1

In [5]:
Data.describe()

            Lable
count  748.000000
mean     0.516043
std      0.500077
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [8]:
Data.groupby('Lable').describe()

      Cooment
        count unique                               top freq
Lable
0         362    361                Not recommended.      2
1         386    384  Definitely worth checking out.      2

In [9]:
Dat

                                               Cooment  Lable
0    A very, very, very slow-moving, aimless movie ...      0
1    Not sure who was more lost - the flat characte...      0
2    Attempting artiness with black & white and cle...      0
3         Very little music or anything to speak of.        0
4    The best scene in the movie was when Gerardo i...      1
..                                                 ...    ...
743  I just got bored watching Jessice Lange take h...      0
744  Unfortunately, any virtue in this film's produ...      0
745                   In a word, it is embarrassing.        0
746                               Exceptionally bad!        0
747  All in all its an insult to one's intelligence...      0

[748 rows x 2 columns]

In [10]:
Data['Length'] = Data['Cooment'].apply(len)

In [11]:
Data

                                               Cooment  Lable  Length
0    A very, very, very slow-moving, aimless movie ...      0      87
1    Not sure who was more lost - the flat characte...      0      99
2    Attempting artiness with black & white and cle...      0     188
3         Very little music or anything to speak of.        0      44
4    The best scene in the movie was when Gerardo i...      1     108
..                                                 ...    ...     ...
743  I just got bored watching Jessice Lange take h...      0      63
744  Unfortunately, any virtue in this film's produ...      0      92
745                   In a word, it is embarrassing.        0      32
746                               Exceptionally bad!        0      20
747  All in all its an insult to one's intelligence...      0      75

[748 rows x 3 columns]

In [12]:
Data[Data['Length']>50]['Cooment'].iloc[0]

'A very, very, very slow-moving, aimless movie about a distressed, drifting young man.  '

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
vectoriztion = CountVectorizer

In [15]:
from nltk.corpus import stopwords

In [16]:
def message(mess):
    no_puntuation = [char for char in mess if char not in string.punctuation]
    no_puntuation = ''.join(no_puntuation)
    return[word for word in no_puntuation.split() if word.lower() not in stopwords.words('english')]

In [18]:
import string
bag_of_words = CountVectorizer(analyzer=message).fit(Data['Cooment'])

In [19]:
comment_bagofwords = bag_of_words.transform(Data['Cooment'])

In [20]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transormer = TfidfTransformer().fit(comment_bagofwords)

In [21]:
comment_tfidf = tfidf_transormer.transform(comment_bagofwords)
print(comment_tfidf.shape)

(748, 3259)

In [23]:
from sklearn.naive_bayes import MultinomialNB
sentiment_detection_model = MultinomialNB().fit(comment_tfidf,Data['Lable'])

In [24]:
comment = Data['Cooment'][4]
bag_of_words_for_commets = bag_of_words.transform([comment])
tfidf = tfidf_transormer.transform(bag_of_words_for_commets)

print('Predect sentement lable', sentiment_detection_model.predict(tfidf)[0])
print('expected sentimet lable', Data.Lable[4])

Predect sentement lable 1
expected sentimet lable 1